.fav-card{
    background-color: rgba(226, 226, 226, 0.404);
    border: 2px solid #807f7f8c;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    min-height: 250px;
    min-width: 150px;
    max-width: 15%;
}

.fav-title{
    font-size: 24px;
}
