.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.nav-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

a{
    padding: 5px;
}